@model URLShortener.Models.Url

<h1>Create</h1>

<h4>UrlShortened</h4>

<hr />

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="UrlOriginal" class=""></label>
        <input asp-for="UrlOriginal" class="form-control" />
    </div>
        <button type="submit" value="Create your url" class=""></button>
</form>

<div class="row">
    <div class="col-md-4">



    </div>
</div>
